.App {
  background-color: #ececec;
  scroll-behavior: smooth;
  transition: ease-in-out;
  transition-duration: 0.8s;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
}